.testimonial,
.testimonials,
.testimonials__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  flex-direction: row;
  align-items: stretch;
  padding: 10px;
  column-gap: 30px;
  width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.testimonial {
  position: relative;
  min-width: 550px;
  box-shadow: 2px 2px 5px #aaa;
  border-radius: 8px;
  padding: 30px;
}

.testimonial__image {
  max-width: 30%;
  align-self: flex-start;
}

.testimonial__link {
  text-decoration: none;
}

.testimonial__attribution {
  font-size: 20px;
  align-self: flex-start;
  display: flex;
  column-gap: 10px;
  align-items: baseline;
}

.testimonial__text {
  line-height: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.testimonial__nav {
  width: 110%;
  position: absolute;
  top: 40%;
  outline: solid 1px red;
  display: flex;
  justify-content: space-between;
}

.testimonial__nav-next,
.testimonial__nav-previous {
  width: 50px;
  height: 50px;
  background-color: #000;
}

.five-stars {
  letter-spacing: 0px;
  font-size: 20px;
  margin: 0px;
}

.sticker {
  padding: 5px;
  box-shadow: 2px 2px 5px #aaa;
  border-radius: 50%;
}

/* .testimonial:nth-of-type(odd) .testimonial__attribution .sticker {
  transform: rotate(12deg);
}

.testimonial:nth-of-type(even) .testimonial__attribution .sticker {
  transform: rotate(-12deg);
} */

.testimonial__text-emphasis {
  line-height: 30px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0 8px 0;
  background-color: #ffd500;
  font-size: 25px;
}

@keyframes slide-in-from-right {
  0% {
    transform: translate(100%, 0px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes slide-in-from-left {
  0% {
    transform: translate(-100%, 0px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}
