.testimonial,
.testimonials,
.testimonials__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  flex-direction: row;
  align-items: stretch;
  padding: 10px 37.5px 10px;
  column-gap: 100px;
  width: 610px;
  margin-left: auto;
  margin-right: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.testimonial {
  position: relative;
  min-width: 550px;
  box-shadow: 2px 2px 5px #aaa;
  border-radius: 8px;
  padding: 30px;
  scroll-snap-align: center;
}

.testimonial__image {
  max-width: 30%;
  align-self: flex-start;
}

.testimonial__link {
  text-decoration: none;
}

.testimonial__attribution {
  font-size: 20px;
  align-self: flex-start;
  display: flex;
  column-gap: 10px;
  align-items: baseline;
}

.testimonial__text {
  line-height: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.testimonial__nav {
  width: calc(100% + 70px);
  position: absolute;
  top: 40%;
  display: flex;
  justify-content: space-between;
}

.testimonial__nav-next,
.testimonial__nav-previous {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  animation: pulse 2s linear 0s infinite;
  transition: transform 0.5s linear 0s;
}

.testimonial__nav-previous:hover {
  border-left: solid #ffd500 4px;
}

.testimonial__nav-next:hover {
  border-right: solid #ffd500 4px;
}

.testimonial__nav-previous {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E")
    #000 no-repeat center / 20px;
}

.testimonial__nav-next {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E")
    #000 no-repeat center / 20px;
}

.five-stars {
  letter-spacing: 0px;
  font-size: 20px;
  margin: 0px;
}

.sticker {
  padding: 5px;
  box-shadow: 2px 2px 5px #aaa;
  border-radius: 50%;
}

/* .testimonial:nth-of-type(odd) .testimonial__attribution .sticker {
  transform: rotate(12deg);
}

.testimonial:nth-of-type(even) .testimonial__attribution .sticker {
  transform: rotate(-12deg);
} */

.testimonial__text-emphasis {
  line-height: 30px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0 8px 0;
  background-color: #ffd500;
  font-size: 25px;
}

@keyframes slide-in-from-right {
  0% {
    transform: translate(100%, 0px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes slide-in-from-left {
  0% {
    transform: translate(-100%, 0px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.05);
  }

  50% {
    transform: scale(1.025);
  }

  75% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}
